body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  padding: 0 0 20px 0;
}

footer {
  padding: 20px 0 0;
}

.app {
  padding: 20px;
  border: 1px solid #eeeeee;
  width: 400px;
}

.todo-form input {
  padding: 5px;
  margin: 10px 0;
  width: 100%;
}

.todo-form button {
  width: 100px;
  background-color: #00B7FF;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.success-alert {
  padding: 5px 10px;
  background-color: green;
  color: #fff;
  margin-bottom: 20px;
}

.error-alert {
  padding: 5px 10px;
  background-color: red;
  color: #fff;
  margin-bottom: 20px;
}