<%- include('partials/header') %>
  <div class="app">
    <p>Please insert todo data:</p>

    <form action="/create" method="post" class="todo-form" id="create_form">
      Title <input type="text" name="title" id=""><br>
      Description <input type="text" name="description" id="">

      <button type="submit" class="submit-btn">Create</button>
    </form>
  </div>
<%- include('partials/footer', { title: title }) %>