<%- include('partials/header') %>
  <div class="app">
    <p>Please insert todo data:</p>

    <form action="" method="post" class="todo-form" id="create_form">
      Name <input type="text" name="" id="" value="Go swimming"><br>
      Description <input type="text" name="" id="" value="In the evening">

      <button type="submit" class="submit-btn">Update</button>
    </form>
  </div>
<%- include('partials/footer') %>